@import 'mixins';
@import 'home';
@import 'live';
@import 'music';

html {
  height: 100%;
}

body {
  background-color: $bgcolor;
  color: white;
  font-family: $font;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

#viewport {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: $fullscreen;
  @media screen and (max-width: $fullscreen) {
    width: 100%;
  }
}

header {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 100px;
  z-index: 100;
  @media screen and (max-width: 750px) {
    font-size: 60px;
  }
  @media screen and (max-width: 550px) {
    font-size: 52px;
  }
  @media screen and (max-width: 450px) {
    font-size: 44px;
  }
}

nav {
  font-size: 26px;
  position: relative;
  text-transform: uppercase;
  top: 100px;
  z-index: 100;
  @media screen and (max-width: 750px) {
    font-size: 22px;
  }
  @media screen and (max-width: 550px) {
    font-size: 20px;
  }
  @media screen and (max-width: 450px) {
    font-size: 18px;
  }
  a {
    display: inline-block;
    margin-right: 0.7em;
    // text-shadow:
    //   -1px -1px 0 #888,
    //   1px -1px 0 #888,
    //   -1px 1px 0 #888,
    //   1px 1px 0 #888;
    &:hover {
    }
    &:last-child {
      margin: 0;
    }
  }
}

main {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

section {
  bottom: 0;
  display: none;
  height: 100%;
  @include centerX;
}

.layer {
  // opacity: 0;
  pointer-events: none;
  @include prefix(transition,opacity 5s ease);
  &.visible {
    opacity: 1;    
  }
}

.ground {
  background: url(images/layers/resized/ground.png) no-repeat;
  bottom: 0;
  height: 389px;
  @include staticCenter;
}

.pyramids {
  background: url(images/layers/resized/pyramids.png) 0 44px no-repeat;
  bottom: 0;
  height: 454px;
  @include staticCenter;
  @include prefix(animation, melt_loop 8s linear 0s infinite alternate);
  // transform: translate(100px, 50px) rotateX(45deg) rotateY(-200deg) rotateZ(10deg);
}
@include keyframes(melt_loop) {
  0% { @include prefix(filter, saturate(0)); }
  50% { @include prefix(filter, saturate(8)); }
  100% { @include prefix(filter, saturate(0)); }
}

.shader {
  height: 100%;
  width: 100%;
  @media screen and (min-width: $fullscreen) {
    &::before, &::after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 150px;
    }
    &::before {
      left: 0;
      @include fader('left');
    }
    &::after {
      right: 0;
      @include fader('right');
    }
  }
}