// FIXME: REMOVE .dev !!!!!
.dev {
.home {
  position: fixed;
  width: 666px;
  @media screen and (max-width: 750px) {
    width: 532px;
  }
  @media screen and (max-width: 550px) {
    width: 400px;
  }
}

.guy-and-painting {
  background: url(images/finals/guy_and_painting_and_shadow.png) 0 bottom no-repeat;
  background-size: 640px 750px;
  bottom: -25px;
  height: 750px;
  position: absolute;
  // right: 0;
  width: 640px;
  @include center('horizontal');
  // @media screen and (max-width: 640px) {
  //   background-size: 100%;
  //   left: 50%;
  //   width: 100%;
  // }
  @media screen and (max-width: 750px) {
    background-position: bottom center;
    background-size: 100%;
    width: 100%;
  }
}
}