body.splash {
  @import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

  font-family: 'Permanent Marker', serif;

  iframe {
    height: 315px;
    width: 560px;
  }

  header {
    margin-top: 100px;
    position: initial;
  }

  div {
    font-size: 30px;
  }
}