body.splash {
  @import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

  font-family: 'Permanent Marker', serif;

  .autoresize {
    margin: 0 auto;
    max-width: 560px;
    & > div {
      height: 0;
      padding-bottom: 63%;
      position: relative;
    }
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    // height: 315px;
    // width: 560px;
    // @media screen and (max-width: 786px) {
    //   width: 100%;
    //   width: calc(100% - 10px);
    // }
  }

  header {
    margin-top: 75px;
    position: initial;
    white-space: nowrap;
    @media screen and (max-width: 786px) {
      margin-top: 50px;
      font-size: 36px;
    }
  }

  div {
    font-size: 30px;
  }
}