html {
  height: 100%; }

body {
  background-color: #292E37;
  color: white;
  font-family: serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }

a {
  color: white;
  text-decoration: none; }

#viewport {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 994px; }
  @media screen and (max-width: 994px) {
    #viewport {
      width: 100%; } }

header {
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  top: 100px;
  z-index: 100; }
  @media screen and (max-width: 750px) {
    header {
      font-size: 60px; } }
  @media screen and (max-width: 550px) {
    header {
      font-size: 52px; } }
  @media screen and (max-width: 450px) {
    header {
      font-size: 44px; } }

nav {
  font-size: 26px;
  position: relative;
  text-transform: uppercase;
  top: 100px;
  z-index: 100; }
  @media screen and (max-width: 750px) {
    nav {
      font-size: 22px; } }
  @media screen and (max-width: 550px) {
    nav {
      font-size: 20px; } }
  @media screen and (max-width: 450px) {
    nav {
      font-size: 18px; } }
  nav a {
    display: inline-block;
    margin-right: 0.7em; }
    nav a:last-child {
      margin: 0; }

section {
  bottom: 0;
  display: block;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }
  section.home {
    width: 666px; }
    @media screen and (max-width: 750px) {
      section.home {
        width: 532px; } }
    @media screen and (max-width: 550px) {
      section.home {
        width: 400px; } }

.layer {
  pointer-events: none;
  -webkit-transition: opacity 5s ease;
  -moz-transition: opacity 5s ease;
  -ms-transition: opacity 5s ease;
  -o-transition: opacity 5s ease;
  transition: opacity 5s ease; }
  .layer.visible {
    opacity: 1; }

.ground {
  background: url(images/layers/resized/ground.png) no-repeat;
  bottom: 0;
  height: 389px;
  left: 50%;
  margin-left: -497px;
  position: absolute;
  width: 994px; }

.pyramids {
  background: url(images/layers/resized/pyramids.png) 0 44px no-repeat;
  bottom: 0;
  height: 454px;
  left: 50%;
  margin-left: -497px;
  position: absolute;
  width: 994px;
  -webkit-animation: melt_loop 8s linear 0s infinite alternate;
  -moz-animation: melt_loop 8s linear 0s infinite alternate;
  -ms-animation: melt_loop 8s linear 0s infinite alternate;
  -o-animation: melt_loop 8s linear 0s infinite alternate;
  animation: melt_loop 8s linear 0s infinite alternate; }

@-webkit-keyframes melt_loop {
  0% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); }
  50% {
    -webkit-filter: saturate(8);
    -moz-filter: saturate(8);
    -ms-filter: saturate(8);
    -o-filter: saturate(8);
    filter: saturate(8); }
  100% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); } }
@-moz-keyframes melt_loop {
  0% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); }
  50% {
    -webkit-filter: saturate(8);
    -moz-filter: saturate(8);
    -ms-filter: saturate(8);
    -o-filter: saturate(8);
    filter: saturate(8); }
  100% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); } }
@-ms-keyframes melt_loop {
  0% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); }
  50% {
    -webkit-filter: saturate(8);
    -moz-filter: saturate(8);
    -ms-filter: saturate(8);
    -o-filter: saturate(8);
    filter: saturate(8); }
  100% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); } }
@keyframes melt_loop {
  0% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); }
  50% {
    -webkit-filter: saturate(8);
    -moz-filter: saturate(8);
    -ms-filter: saturate(8);
    -o-filter: saturate(8);
    filter: saturate(8); }
  100% {
    -webkit-filter: saturate(0);
    -moz-filter: saturate(0);
    -ms-filter: saturate(0);
    -o-filter: saturate(0);
    filter: saturate(0); } }
.guy {
  background: url(images/layers/resized/guy.png) 0 44px no-repeat;
  bottom: 0;
  height: 578px;
  position: absolute;
  right: 0;
  width: 599px;
  z-index: 15; }
  @media screen and (max-width: 750px) {
    .guy {
      background-position: 0 1px;
      background-size: 479px 462px;
      height: 462px;
      width: 479px; } }
  @media screen and (max-width: 550px) {
    .guy {
      background-size: 359px 347px;
      height: 347px;
      width: 359px; } }

.painting {
  background: url(images/layers/resized/painting.png) no-repeat;
  bottom: 256px;
  height: 486px;
  left: 0;
  position: absolute;
  width: 314px;
  z-index: 10; }
  @media screen and (max-width: 750px) {
    .painting {
      background-size: 251px 389px;
      bottom: 238px;
      height: 389px;
      width: 251px; } }
  @media screen and (max-width: 550px) {
    .painting {
      background-size: 188px 292px;
      bottom: 176px;
      height: 292px;
      width: 188px; } }
  .painting .dude {
    background: url(images/layers/resized/dude.png) no-repeat;
    bottom: 123px;
    height: 163px;
    position: absolute;
    right: 63px;
    width: 125px; }
    @media screen and (max-width: 750px) {
      .painting .dude {
        background-size: 100px 130px;
        bottom: 99px;
        height: 130px;
        right: 51px;
        width: 100px; } }
    @media screen and (max-width: 550px) {
      .painting .dude {
        background-size: 75px 99px;
        bottom: 77px;
        height: 96px;
        right: 38px;
        width: 75px; } }

.shader {
  height: 100%;
  width: 100%; }
  .shader::before, .shader::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 150px; }
  .shader::before {
    left: 0;
    background: rgba(41, 46, 55, 0) -webkit-gradient(linear, 0% 0%, 100% 0%, from(#292e37), to(rgba(41, 46, 55, 0)));
    background: rgba(41, 46, 55, 0) -moz-linear-gradient(left, #292e37, rgba(41, 46, 55, 0)); }
  .shader::after {
    right: 0;
    background: rgba(41, 46, 55, 0) -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(41, 46, 55, 0)), to(#292e37));
    background: rgba(41, 46, 55, 0) -moz-linear-gradient(left, rgba(41, 46, 55, 0), #292e37); }
