!!!
%html
  %head
    %title Of The Beast
    %script{src: "../application.js"}
    %link{rel: "stylesheet", href: "../application.css", type: "text/css"}
  %body
    %div#viewport
      %header
        %a{href: "#/"} OF THE BEAST
      %nav
        %a{href: "#/news"} News
        %a{href: "#/live"} Live
        %a{href: "#/music"} Music
        %a{href: "#/join"} Join Mailing List
      %main
        %div.layer.ground
        %div.layer.pyramids
        %section.home
          %div.layer.guy
          / %div.layer.guy-melt
          %div.layer.painting
            %div.layer.dude
        %section.news
        %section.live
          %script{type: "text/template"}
            %iframe.widget_iframe{src: "https://www.reverbnation.com/widget_code/html_widget/artist_3182775?widget_id=52&amp;posted_by=fan_354296&pwc[design]=default&pwc[background_color]=%23333333&pwc[layout]=compact&pwc[show_map]=0&pwc[size]=custom", frameborder: "0", scrolling: "no"}
        %section.music
          %script{type: "text/template"}
            %iframe.widget_iframe{src: "https://www.reverbnation.com/widget_code/html_widget/artist_3182775?widget_id=50&amp;posted_by=fan_354296&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=custom", frameborder: "0", scrolling: "no"}
        %section.join
      %div.shader