!!!
%html
  %head
    %title Of The Beast
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
  %body
    %nav
    %div#viewport
      %header
        OF THE BEAST
      %div.ground
      %div.pyramids
      %div.guy
      %div.guy-melt
      %div.painting
        %div.dude
      %div.shader
    %footer