!!!
%html
  %head
    %title Of The Beast
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
    %link{href: 'http://fonts.googleapis.com/css?family=Permanent+Marker', rel: 'stylesheet', type: 'text/css'}
  %body.splash
    %header
      OF THE BEAST
    %iframe{src: "//www.youtube.com/embed/Av3b4fDHg9Q", frameborder: "0", allowfullscreen: true}
    %div
      SPECTRUM
    %div
      02.10.15
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58766829-1', 'auto');
      ga('send', 'pageview');