!!!
%html
  %head
    %title Of The Beast
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "application.css", type: "text/css"}
    %link{href: 'http://fonts.googleapis.com/css?family=Syncopate', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'images/favicons/16.png', rel: 'icon', type: 'image/png', sizes: '16x16'}
    %link{href: 'images/favicons/32.png', rel: 'icon', type: 'image/png', sizes: '32x32'}
    / %link{href: 'images/favicons/60.png', rel: 'icon', type: 'image/png', sizes: '60x60'}
    / %link{href: 'images/favicons/76.png', rel: 'icon', type: 'image/png', sizes: '76x76'}
    %link{href: 'images/favicons/96.png', rel: 'icon', type: 'image/png', sizes: '96x96'}
    / %link{href: 'images/favicons/120.png', rel: 'icon', type: 'image/png', sizes: '120x120'}
    %link{href: 'images/favicons/152.png', rel: 'icon', type: 'image/png', sizes: '152x152'}
    %link{href: 'images/favicons/192.png', rel: 'icon', type: 'image/png', sizes: '192x192'}
    %meta{content: "width=device-width,user-scalable=no,maximum-scale=1.0,initial-scale=1.0", name:"viewport"}
  %body.dev
    %div#viewport
      %header.title
        %a{href: ""} OF THE BEAST
      %div.social-icons
        %a.facebook{href: "http://facebook.com/ofthebeast", target: "_blank"}
        %a.twitter{href: "http://twitter.com/of_the_beast", target: "_blank"}
        %a.instagram{href: "http://instagram.com/jasonboner", target: "_blank"}
        %a.youtube{href: "http://youtube.com/ofthebeastofficial", target: "_blank"}
        %a.reverbnation{href: "http://reverbnation.com/ofthebeast", target: "_blank"}
        %a.bandcamp{href: "http://ofthebeast.bandcamp.com", target: "_blank"}
        %a.soundcloud{href: "http://soundcloud.com/ofthebeast", target: "_blank"}
      %nav
        %a{href: "#/news"} News
        %a{href: "#/live"} Live
        %a{href: "#/music"} Music
        %a{href: "#/join"} Join Mailing List
      %div.horizon
        %div.layer.sky
        %div.layer.grid
      %div.floor
        %div.layer.ground
        %div.layer.pyramids
      %main
        %section.home
          %div.layer.guy-and-painting
        %section.news
        %section.live
          %script{type: "text/template"}
            %iframe.widget_iframe{src: "https://www.reverbnation.com/widget_code/html_widget/artist_3182775?widget_id=52&amp;posted_by=fan_354296&pwc[design]=default&pwc[background_color]=%23333333&pwc[layout]=compact&pwc[show_map]=0&pwc[size]=custom", frameborder: "0", scrolling: "no"}
        %section.music
          %script{type: "text/template"}
            %iframe.widget_iframe{src: "https://www.reverbnation.com/widget_code/html_widget/artist_3182775?widget_id=50&amp;posted_by=fan_354296&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=custom", frameborder: "0", scrolling: "no"}
        %section.join
          %script{type: "text/template"}
            %iframe.widget_iframe{src: "http://www.reverbnation.com/widget_code/html_widget/artist_3182775?widget_id=54&pwc[design]=default&pwc[background_color]=%23333333&pwc[size]=fit", frameborder: "0", scrolling: "no"}
      / %div.shader