<article>
  <header>
    <time datetime="{{published}}">
      {{formattedDate}}
    </time>
    <h3>
      {{title}}
    </h3>
  </header>
  <div class='content'>
    {{strippedContent}}
  </div>
</article>